.modal-card-head {
  border-bottom: none;
}

.modal-card-foot {
  border-top: none;
}

.modal-card-head, .modal-card-foot {
  background-color: var(--modal-card-head-background);
}
.display-6 {
  font-size: 14px;
}
@-webkit-keyframes textChange {
  from {
    background: var(--anim-highlight-bg-from);
    color: var(--anim-highlight-text-from);
  }
  30% {
    background: var(--anim-highlight-bg-from);
    color: var(--anim-highlight-text-mid);
  }
  70% {
    background: var(--anim-highlight-bg-mid);
    color: var(--anim-highlight-text-mid);
  }
  to {
    color: var(--anim-highlight-text-end);
    background: transparent;
  }
}


@keyframes textChange {
  from {
    background: var(--anim-highlight-bg-from);
    color: var(--anim-highlight-text-from);
  }
  30% {
    background: var(--anim-highlight-bg-from);
    color: var(--anim-highlight-text-mid);
  }
  70% {
    background: var(--anim-highlight-bg-mid);
    color: var(--anim-highlight-text-mid);
  }
  to {
    color: var(--anim-highlight-text-end);
    background: transparent;
  }
}

.textChange {
  -webkit-animation-name: textChange;
  animation-name: textChange;
}

@-webkit-keyframes textOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes textOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.textOut {
  -webkit-animation-name: textOut;
  animation-name: textOut;
}

.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}
