name: Deploy to GH pages

on:
  push:
    branches: [ master ]

  workflow_dispatch:

jobs:
  BuildAndDeploy:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '8'

      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
      - name: Install Dependencies
        run: npm ci

      - name: Install Dependencies
        run: npm run build

      - name: Deploy With CNAME
        if: ${{ github.repository_owner == 'vechain' }}

        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist/
          cname: inspector.vecha.in
          force_orphan: true